/** NAVIGATION BAR **/

/*Sets the layout for the unordered list */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgray;
}

/* Sets the position of the navigation bar */
li {
    float: left;
}

/* Sets the layout for the href links */
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Black background color on hover navigation bar */
li a:hover {
    background-color: black;
}

/* Add green background color to the bar you're on */
.active {
    background-color: black;
}

/* Add a gray right border to all list items, except the last item (last-child) */
li {
    border-right: 1px solid white;
}

/** SETS STYLE FOR REST OF PAGE **/

body {
    background-image: url(../pics/scheepvaart.jpg);
}

div.transbox {
    background-color: white;
    width: 780px;
    height: 562px;
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 10px 0 0 10px;
    opacity: 0.8;
}

div.transbox p, h2, h1 {
    margin: 1% 1% 1% 1%;
    font-weight: bold;
}

div.link a {
    margin: 10px;
}
img {
    float: right;
    margin: 10px 10px;
    border: 2px solid black;
}